@import url("general.css");

@media only screen and (max-width: 600px) {
  .main {
    width: 100%;
    /* margin: 0px auto; */
    padding-right: 20px;
    padding-left: 20px;
  }
  .about-store-section {
    /* width: 100%; */

    width: 320px;
    height: 2811px;
    flex-direction: column;
    /* align-items: center; */
    margin: 70px 0;

    gap: 38px;
    /* justify-content: center; */
    /* flex-wrap: wrap; */
  }

  .about-store-section-left {
    /* height: 227px; */
    flex-shrink: 0;
    align-items: center;
    gap: 26px;
    /* width: 70%; */
    justify-content: center;
    width: 323px;
    height: 227px;
    flex-shrink: 0;

    /* margin-bottom: 40px; */
    padding: 0;
  }

  .about-store-section-left h3 {
    text-align: center;
  }

  .about-store-section-left h3 {
    width: 100%;
    font-size: 28px;
  }

  .about-store-section-left p {
    width: 100%;
  }

  .go-to-catalog-btn {
    width: 100%;
  }

  .about-store-section-right,
  .about-store-section-right img {
    width: 100%;
  }

  /*catalog container  */

  .catalog-container {
    width: 100%;
  }

  .catalog-container h3 {
    font-size: 23px;
    /* height: 17px; */
  }

  .catalog {
    /* grid-template-columns: repeat(1, 1fr); */
    gap: 15px;
  }

  .catalog-element-style {
    padding: 24px 70px;
  }

  /* typhography */
  .typography-container {
    margin-bottom: 66px;
    width: 100%;
  }

  .numbers-container {
    /* width: 100%; */
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px;
  }

  .typography {
    gap: 24px;
    width: 100%;
    justify-content: center;
  }

  .delivery,
  .delivery p {
    width: 100%;
  }
}
